.orcamento {
  padding-top: 40px;
  padding-bottom: 52px;
  background: #161f4c;

  .titulo {
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 40px;
  }

  .sub {
    width: 250px;
    display: block;
    font-size: 25px;
    letter-spacing: 0.02em;
    line-height: 29px;
    color: #fff;
    margin-bottom: 30px;
  }

  .form-box {
    p {
      margin-bottom: 0;
      text-align: start;
    }

    .wpcf7-not-valid-tip {
      font-size: 14px;
      width: unset !important;
      text-align: left;
    }

    .wpcf7-response-output {
      color: white !important;
    }

    .nome,
    .telefone,
    .email,
    .estado,
    .cidade,
    .valor-energia,
    .arquivo-conta,
    .arquivo-curriculo {
      .wpcf7-not-valid {
        margin-bottom: 0;
      }
      input {
        margin-bottom: 15px;
        background: white;
        padding: 5px 10px;
        border: none;
        outline: none;
        width: 100%;

        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 40px;
        color: #161f4c;

        &::placeholder {
          font-size: 12px;
          letter-spacing: 0.05em;
          line-height: 40px;
          color: #161f4c;
        }
      }
    }

    .cidade,
    .valor-energia {
      input {
        margin-bottom: 0;
      }
    }

    .email {
      input {
        margin-bottom: 0;
      }
    }

    .d-flex {
      justify-content: space-between;

      span {
        width: 49%;
      }

      select {
        height: 50px;
        padding: 0;
        background: white !important;
        border: none;
        width: 100%;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 40px;
        color: #161f4c;
      }
    }

    .copia {
      
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #fff;
    }

    .btn-cta {
      border: none;
      outline: none;
      margin: 0 0 0 auto;
    }
  }
}

footer {
  margin-top: 50px;
  background: #ebebeb;
  border-bottom: solid 50px $dblue;

  .logo-vertical {
    position: relative;
    top: -50px;
  }

  .wrapper-link {
    i {
      color: #0d9bdb;
      margin-right: 10px;
    }

    a {
      font-size: 18px;
      letter-spacing: 0.05em;
      line-height: 28px;
      color: #161f4c;
    }

    & + .wrapper-link {
      margin-top: 30px;
    }
  }

  h5 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 28px;
    color: #161f4c;
  }

  .house {
    margin: 0 0 0 auto;
    display: block;
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .custom-orc {
    max-width: unset !important;
    margin: 0 !important;
    text-align: center;

    .col-lg-5 {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: 57.667% !important;
    }

    .form-box {
      width: 726px;
      margin: 0 auto;
    }

    .container {
      flex-direction: column;
    }
  }

  .orcamento {
    max-width: 1080px;
    margin: 70px auto;
    padding: 80px 65px !important;

    .container {
      padding: 0 !important;
    }

    .titulo {
      font-size: 52px;
      line-height: 59px;
    }

    .sub {
      font-size: 33px;
      letter-spacing: 0.02em;
      line-height: 41px;
      width: unset !important;
    }
  }

  footer {
    .container {
      padding-bottom: 70px;
    }

    .wrapper-total {
      display: flex;
      justify-content: space-between;

      .wrapper-link {
        & + .wrapper-link {
          margin-top: 10px;
        }
      }

      h5 {
        margin-top: 0;
      }
    }

    .house {
      position: absolute;
      right: 0;
      bottom: 50px;
      max-width: 38%;
    }
  }
}
