// ICON MENU

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: $dblue;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.menu-ativo .line:nth-child(2) {
  opacity: 0;
  background-color: white;
  height: 8px;
  margin: 5px auto;
}

#hamburger-1.menu-ativo .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  background-color: white;
  height: 8px;
  margin: 5px auto;
}

#hamburger-1.menu-ativo .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  background-color: white;
  height: 8px;
  margin: 5px auto;
}

.white-bg {
  background: white !important;
}

.top-nav {
  padding: 15px 30px;
  position: fixed;
  background: transparent;
  top: 0;
  z-index: 4000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
  right: 0;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 84%;
    max-height: 0;
    transition: max-height 0s ease-in-out;
    position: relative;

    .logo {
      margin-bottom: 60px;
    }

    a {
      font-family: "DM Sans";
      font-size: 17px;
      letter-spacing: 0.05em;
      line-height: 26px;
      color: white;
    }
  }
}

.share {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 50;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  i {
    font-size: 26.45px;
    color: #4da668;
  }
}

.logo-opened {
  display: none;
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $dblue !important;

  .logo-opened {
    display: block !important;
    position: relative;
    top: -22px;
  }

  .logo-closed {
    display: none;
  }

  .share {
    display: flex !important;
  }

  .menu {
    position: absolute;
    max-height: 100% !important;
    top: 140px;
    a {
      padding: 20px 0;
    }

    .btn-menu {
      margin-top: 20px;
      padding: 15px 30px;
      background: #0d9bdb;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.1em;
      color: #fff;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg)) {
  header {
    .height-custom {
      height: 80px;
    }

    .btn-home {
      position: fixed;
      left: 10%;
      // width: 150px;

      img {
        position: relative;
        top: -8px;
      }
    }

    .menu-lg {
      padding-top: 40px !important;
      position: relative;
      z-index: 5;
      width: 100%;
      position: fixed;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .menu-link,
      .menu-link2 {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.1em;
        line-height: 62px;
        color: #161f4c;
        padding: 0 15px;
      }

      .btn-seja {
        width: 211px;
        height: 47px;
        background: #0d9bdb;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 62px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 10%;
      }

      .midias {
        position: absolute;
        right: 15%;

        a {
          margin: 0 8px;
          display: inline-block;
          img,
          i {
            height: 25px;
            color: #4da668;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
