.banner {
  height: 90vh;
  background: url("../../dist/img/banner-mobile.png") center center no-repeat;
  background-size: cover;

  .container {
    padding-top: 90px;

    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 45px;
      color: $dblue;
      margin-bottom: 20px;
    }
  }
}

.seja-representante {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d9bdb;

  h4 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.elgin {
  .elgin-logo {
    width: 115px;
    filter: brightness(0) invert(1);
  }

  .dark-blue-box {
    background: #005c89;
    padding-top: 37.5px;
    padding-bottom: 67.5px;

    h3 {
      font-size: 20px;
      line-height: 27px;
      color: #fff;
      margin-bottom: 30px;
    }

    ul {
      margin-top: 15px;
      padding-left: 20px;

      li {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 30px;
        color: #fff;
      }
    }
  }

  .light-blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #0d9bdb;
    height: 175px;
    margin-bottom: 70px;

    img {
      position: absolute;
      height: 258px;
    }
  }
}

.quem-somos {
  padding-bottom: 50px;
  p {
    color: #15172c;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

.calculadora {
  // max-height: 650px;
  background: #161f4c;
  padding-top: 40px;
  padding-bottom: 125px;

  .container {
    position: relative;
  }

  .titulo {
    font-weight: bold;
    font-size: 34.5px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 30px;
  }

  .resultado-calc {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: #161f4c;
    left: 0;
    z-index: 2;
    padding: 10px 30px;

    .titulo {
      margin-bottom: 35px;
      max-width: 60%;
    }
    .obs {
      color: white;
    }
    .resultado {
      display: flex;
      border-bottom: 1px solid #fff;
      padding-bottom: 20px;

      & + .resultado {
        margin-top: 20px;
      }

      .detail {
        width: 7px;
        margin-right: 10px;
      }

      .detail.yellow {
        background: #ffdb0e;
      }
      .detail.red {
        background: #e23b1f;
      }
      .detail.green {
        background: #4da668;
      }

      h4,
      h3 {
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #fff;
      }

      h3 {
        font-weight: bold;
        font-size: 34px;
        line-height: 43px;
      }
    }

    .btn-wrapper {
      margin-top: 25px;
      flex-wrap: wrap;
      align-items: center;
      .btn-back {
        @extend .btn-cta;
        background: none;
        border: 1px solid #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 25px;
        &:hover {
          color: white;
        }
      }
      .btn-orc {
        border: none;
      }
    }
  }
  .wpcf7-not-valid {
    margin-bottom: 0 !important;
  }

  .wpcf7-response-output {
    color: white !important;
    margin: 15px 0 0 !important;
  }
  .form-box {
    p,
    span {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }

    br {
      display: none;
    }

    select,
    input[type="number"],
    input[type="text"],
    input[type="email"] {
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #fff;
      width: 100%;
      border: none;
      background: transparent;
      border-bottom: 1px solid white;
      margin-bottom: 30px;
      padding: 5px;
      width: 100%;
      outline: none;
    }
    option {
      color: #161f4c;
    }
    .btn-cta {
      border: none;
    }

    div {
      label {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 76px;
        color: #fff;
        margin-right: 20px;
      }
    }
  }
}

.onde-porque-usar {
  padding-top: 38px;

  .title {
    margin-bottom: 50px;
  }
  .collapse-box {
    a {
      position: relative;
      width: 98%;
      height: 100%;
      display: block;
      margin-bottom: 20px;

      .bg {
        position: relative;
        left: 15px;
        width: 275px;
      }

      .number {
        font-weight: bold;
        font-size: 81px;
        line-height: 92px;
        color: #ffdb0e;
        position: absolute;
        top: 5px;
        left: -15px;
      }

      .arrow {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .arrow-down {
        transform: rotate(180deg);
      }

      .titulo {
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 0.02em;
        line-height: 76px;
        color: #fff;
        position: absolute;
        bottom: 64px;
        display: block;
        text-align: center;
        width: 100%;
      }
    }

    .collapse {
      padding-left: 12px;
      padding-right: 12px;
      font-size: 18px;
      letter-spacing: 0.05em;
      line-height: 27px;
      color: #15172c;
      margin-bottom: 40px;
    }
  }

  .porque-usar {
    padding-top: 20px;

    .title {
      max-width: 92%;
    }

    .wrapper {
      margin-top: 80px;
      position: relative;
      .tns-controls {
        button {
          background: none;
          border: none;
          color: #189bdb;
          font-size: 28px;
          position: absolute;
          top: 12%;
          z-index: 5;

          &:first-of-type {
            left: 0px;
          }

          &:last-of-type {
            right: 0px;
          }
        }
      }

      .carousel-porque {
        .item {
          .item-wrapper {
            text-align: center;
            .circle {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: 4px solid #1f9cd8;
              width: 153px;
              height: 153px;
              margin: 0 auto;
              margin-bottom: 20px !important;
            }
            .titulo {
              font-weight: bold;
              font-size: 28px;
              letter-spacing: 0.05em;
              line-height: 34px;
              text-align: center;
              color: #161f4c;
              margin-bottom: 15px;
            }

            p {
              color: #15172c;
            }
          }

          .elgin-porque {
            width: 60%;
          }
        }
      }
    }
  }

  .yellow-box {
    padding-top: 30px;
    padding-bottom: 50px;
    background: #ffdb0e;

    p {
      color: #161f4c;
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 40px;
      margin-top: 30px;
    }
  }
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 50px; //110px
  background: #ebebeb;

  .title {
    margin-bottom: 80px;
  }

  .light-blue-box {
    background: #0d9bdb;
    position: relative;
    height: 640px;
    margin-bottom: 100px;

    .response-p {
      text-align: center;
      padding-top: 25%;
      font-size: 38px;
    }

    .project-box {
      position: relative;
      top: -50px;

      .projeto {
        margin: 40px 0;
        display: block;
        border: none;
        padding: 0;
        width: 100%;
        height: 230px;
        .img-projeto {
          width: 100%;
          height: 230px;
          background-size: cover !important;
          background-position: center !important;
        }
      }
    }
  }

  .btn-cta {
    width: 100%;
  }
}

.modal-port {
  .wrapper {
    top: 15%;
    position: relative;
    border-radius: 5px;

    .modal-body {
      padding: 0;
      position: relative;
    }

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .close,
    h3 {
      position: absolute;
      z-index: 2;
    }

    .close {
      right: 10px;
      top: 10px;
      opacity: 1;
      span {
        font-size: 60px;
        line-height: 20px;
        color: white;
      }
    }

    h3 {
      top: 50px;
      left: 15px;
      color: white;
      font-size: 30px;
      font-weight: bold;
    }

    p {
      background: white;
      color: $dblue;
      padding: 10px;
      font-size: 16px;
    }
  }
}

.modal-video {
  border: none;
  padding: 0;
  width: 100%;
}

#videoModal {
  .close {
    right: unset;
    left: 10px;
  }

  .modal-body {
    height: 198px;
  }

  iframe {
    width: 100%;
    height: 198px;
  }
}

.depoimentos.margin-top-custom {
  margin-top: -10px;
}

.depoimentos {
  padding-top: 43px;
  padding-bottom: 54px;
  background: #ebebeb;

  .container {
    padding: 0;
  }

  .title {
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .wrapper {
    position: relative;

    .tns-controls {
      button {
        background: none;
        border: none;
        color: #161f4c;
        font-size: 28px;
        margin-left: 40px;

        &:first-of-type {
          margin-right: 20px;
        }

        &:last-of-type {
          margin-left: 20px;
        }
      }
    }

    .carousel-depoimentos {
      .item {
        img {
          width: 100%;
        }

        .filtro-wrapper {
          position: relative;
          div {
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
            opacity: 0.75;
            height: 100%;
            width: 100%;
            top: 0;
          }
        }

        .aspas {
          width: 33.95px;
          height: 32.2px;
          margin-right: 10px;
        }

        .wrapper-content {
          padding: 30px 15px;
          padding-bottom: 0 !important;
        }

        .content {
          p {
            font-size: 18px;
            letter-spacing: 0.05em;
            line-height: 27px;
            color: #15172c;
          }

          .name {
            font-weight: bold;
            font-size: 23px;
            letter-spacing: 0.05em;
            line-height: 28px;
            color: #161f4c;
          }

          .sub {
            font-size: 18px;
            letter-spacing: 0.05em;
            color: #161f4c;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.parceiros {
  padding-top: 40px;

  .title {
    margin-bottom: 50px;
  }

  .wrapper {
    position: relative;
    margin-bottom: 40px;

    .tns-controls {
      button {
        background: none;
        border: none;
        color: #161f4c;
        font-size: 28px;
        position: absolute;
        top: 50%;
        z-index: 5;

        &:first-of-type {
          left: -10px;
        }

        &:last-of-type {
          right: -10px;
        }
        &:disabled {
          display: none;
        }
      }
    }

    .carousel-parceiros {
      .item {
        text-align: center;

        img {
          filter: grayscale(100%);
          width: 65%;
          margin: 0 auto;
        }

        img:first-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }

  .container {
    .big-logo {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    padding-bottom: 50px;
  }

  .simulacao {
    padding: 50px 60px;
    background: url("../../dist/img/bg-simulacao.png") center center no-repeat;
    background-size: cover;
    display: block;

    h3,
    i {
      display: inline;
      font-weight: bold;
      font-size: 38px;
      line-height: 40px;
      color: #fff;
    }

    i {
      margin-left: 10px;
      position: relative;
      top: 5px;
    }
  }
}
