.b-quem {
  background: url("../../dist/img/banner-quem-mob.png");
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-height: 668px) {
    height: 100vh;
  }

  h2 {
    font-size: 40px !important;
    line-height: 34px !important;
    color: #fff !important;
  }
}

.quem-page {
  padding-top: 50px;
}

.beneficios {
  padding-bottom: 40px;

  .beneficios-box {
    padding-top: 40px;
    .b-green {
      background: #4da668;
      .sup {
        background: #20523a;
      }
    }
    .b-blue {
      background: #0d9bdb;
      .sup {
        background: #161f4c;
      }
    }
    .b-red {
      background: #e23b1f;
      .sup {
        background: #841a08;
      }
    }
    .b-yellow {
      background: #ffdb0e;
      .sup {
        background: #9a8300;
      }

      .bold {
        color: #161f4c !important;
      }
    }

    .beneficio {
      display: flex;

      & + .beneficio {
        margin-top: 30px;
      }

      .content {
        padding: 20px;
        max-width: 75%;
      }

      .sup {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        position: relative;
        top: -10px;
        left: -10px;
        width: 79px;
        height: 79px;
      }

      .bold {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.05em;
        line-height: 32px;
        color: #fff;
        margin: 0;
        position: relative;
        left: -10px;
      }

      h4 {
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 29px;
        color: #fff;
        margin: 0;
        position: relative;
        left: -10px;
      }
    }
  }

  .btn-cta {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.porque-trabalhar {
  padding-top: 30px;
  background: #ebebeb;
  margin-bottom: -75px;

  .title {
    margin-bottom: 50px;
  }

  .blue-box {
    padding-top: 30px;
    padding-bottom: 100px;
    background: #161f4c;

    .titulo {
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      margin-bottom: 30px;
    }

    .item {
      display: flex;

      .square {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 39px;
        height: 39px;
        background: #ffdb0e;
        margin-right: 10px;

        span {
          font-weight: bold;
          font-size: 21px;
          letter-spacing: 0.05em;
          line-height: 28px;
          color: #161f4c;
        }
      }

      p {
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 18px;
        color: #fff;
        position: relative;
        top: -3px;
        margin-bottom: 0;
      }

      & + .item {
        margin-top: 25px;
      }
    }
  }

  .center-img {
    margin: 0 auto;
    display: block;
    position: relative;
    top: -90px;
  }
}

.depo-quem {
  background: #189bdb;

  .title h2,
  .content p,
  .name,
  .sub,
  .tns-controls button {
    color: white !important;
  }

  .aspas {
    filter: brightness(0) invert(1);
  }
}
