@media (min-width: map-get($grid-breakpoints ,lg)) {
  .banner {
    background: url("../../dist/img/banner-home-lg.png") center center no-repeat;
    background-size: cover !important;
    height: 573px !important;

    h2 {
      max-width: 40%;
      padding-top: 100px;
      margin-bottom: 50px !important;
    }
  }

  .elgin {
    .dark-blue-box {
      padding-left: 140px;
      padding-top: 67.5px;

      h3 {
        max-width: 423px;
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 33px;
        line-height: 37px;
      }

      p {
        max-width: 475px;
      }
    }

    .light-blue-box {
      height: unset !important;
      margin-bottom: 0;

      img {
        right: -60px;
      }
    }
  }

  .quem-somos {
    padding-top: 60px !important;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 0 30px;
  }

  .calculadora {
    .resultado-calc {
      .titulo {
        font-size: 46px;
        line-height: 46px;
        max-width: 45%;
        margin-bottom: 25px;
      }
      .btn-wrapper {
        justify-content: space-between;
        .btn-back {
          margin-bottom: 0;
        }
        .btn-back:hover {
          color: white !important;
        }
      }
      .resultado {
        h3 {
          line-height: 40px;
        }
      }
    }

    .resultado,
    .btn-wrapper {
      max-width: 60%;
      padding-bottom: 10px !important;
    }
  }

  .onde-porque-usar {
    .onde-usar {
      .title {
        span {
          width: 202px;
        }
      }
    }
    .collapse-box {
      .collapsing {
        transition: none !important;
      }

      .collapse {
        display: block;
      }

      .arrow {
        transform: rotate(-180deg);
      }

      a {
        height: unset !important;
        cursor: initial;
        .bg {
          width: 100%;
        }

        .titulo {
          padding-left: 30px;
        }

        .arrow {
          left: 30px;
        }
      }
    }
  }

  .video {
    width: 100%;
  }

  .porque-usar {
    .title {
      max-width: 51% !important;

      span {
        width: 100%;
      }
    }

    .carousel-porque {
      .item {
        margin-bottom: 50px;
        padding: 0 !important;

        &:nth-child(odd) {
          padding-right: 15px !important;
        }

        .item-wrapper {
          display: flex;
          .circle {
            margin-right: 20px !important;
          }

          div {
            width: 70%;

            .titulo,
            p {
              text-align: left !important;
            }
          }
        }
      }
    }

    .yellow-box {
      .title h2 {
        font-size: 50px;
        line-height: 57px;
      }
      .btn-cta {
        height: 55px;
      }
    }
  }

  .portfolio {
    padding-bottom: 110px;
    .title h2 {
      margin-bottom: 140px;
    }

    .light-blue-box {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 60px;
      margin-bottom: 90px !important;
      height: 530px !important;

      .project-box {
        top: -50px;
        padding: 0;

        .projeto {
          width: 30%;
          margin: 20px 0;
          height: 180px;

          .img-projeto {
            height: 180px !important;
          }
        }
      }
    }

    .btn-cta {
      width: unset !important;
      margin: 0 auto;
    }
  }

  .modal-backdrop.show {
    opacity: 0;
  }

  .modal-port {
    .modal-dialog {
      max-width: 800px;
    }

    .wrapper {
      top: 11%;

      .filtro {
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
        height: 100%;
        width: 100%;
        top: 0;
      }
    }

    h3 {
      font-size: 40px;
      letter-spacing: 0.05em;
      line-height: 37px;
      top: 70% !important;
      left: 100px !important;
    }

    p {
      position: absolute;
      top: 77%;
      left: 100px;
      max-width: 80%;
      background: none !important;
      color: white !important;
      font-size: 18px;
      letter-spacing: 0.05em;
      line-height: 28px;
      padding: 0 !important;
      margin-bottom: 0;
    }
  }

  #videoModal {
    .modal-dialog {
      max-width: 790px;
    }
    .modal-body {
      height: 440px;

      iframe {
        height: 440px;
      }
    }
  }

  .depoimentos {
    position: relative;

    .container {
      max-width: unset !important;
      padding: unset !important;
    }

    .title {
      position: absolute;
      right: 35%;
      top: 50px;

      h2 {
        font-size: 38px;
        line-height: 38px;
      }
    }

    .wrapper {
      .tns-controls {
        position: absolute;
        bottom: 20px;
        z-index: 5;
        button {
          color: white;
        }
      }

      .wrapper-content {
        padding-top: 130px !important;
        max-width: 45%;
      }
      .carousel-depoimentos {
        .item {
          height: 438px;
          .d-flex {
            height: 100%;
          }
        }
      }
      .aspas {
        width: 69.62px !important;
        height: 66.03px !important;
      }
    }
  }

  .parceiros {
    .wrapper {
      .tns-controls button {
        position: unset !important;
        margin-top: 50px;

        &:last-of-type {
          margin-left: 40px;
        }
      }

      .carousel-parceiros {
        position: relative;
        // left: -42px;
        .item {
          img {
            width: unset !important;
            &:hover {
              filter: none;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 260px;
          }
        }
      }
    }

    .simulacao {
      text-align: center;
    }
  }

  .b-quem {
    background: url("../../dist/img/banner-quem-lg.png") center center no-repeat !important;
    background-size: cover !important;
  }

  .beneficios {
    padding-top: 60px;
    padding-bottom: 60px !important;

    .title {
      max-width: 60%;
      span {
        width: 270px;
      }
    }

    .beneficios-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .beneficio {
        width: 35%;
        height: 260px;

        margin: 0 20px 30px;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: end;
          position: relative;
          left: -60px;
          max-width: 76% !important;
          padding-bottom: 30px !important;
          .bold {
            font-size: 40px;
            letter-spacing: 0.05em;
            line-height: 38px;
          }

          h4 {
            font-size: 26px;
            letter-spacing: 0.05em;
            line-height: 38px;
          }
        }

        // &:nth-child(2) {
        //   margin: 0 ;
        // }

        & + .beneficio {
          margin-top: 0 !important;
        }
      }
    }

    .btn-cta {
      width: unset !important;
      margin-left: auto;
      margin-right: auto;
      display: table !important;
      margin-top: 60px !important;
    }
  }

  .porque-trabalhar {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    position: relative;
    margin-bottom: unset !important;

    .center-img {
      top: 6% !important;
      right: 15% !important;
      position: absolute !important;
    }

    .title {
      max-width: 50%;
    }

    .blue-box {
      padding: 50px !important;
      .titulo {
        font-size: 36px !important;
        line-height: 45px !important;
        max-width: 50%;
      }

      .item {
        align-items: center;

        .square {
          width: 59px !important;
          height: 59px !important;
          margin-right: 30px !important;
        }

        p {
          font-size: 21px !important;
          letter-spacing: 0.05em !important;
          line-height: 28px !important;
          max-width: 90%;
        }
      }
    }
  }
}
