//vertical
@media (min-width: 800px) and (max-width: 950px) {
  .banner {
    background: url("../../dist/img/banner-home-lg.png") center center no-repeat;
    height: 50vh;

    h2 {
      max-width: 65%;
    }
  }

  .b-quem {
    background: url("../../dist/img/banner-quem-lg.png") center center no-repeat !important;
    background-size: cover !important;
  }

  #videoModal {
    .modal-dialog {
      max-width: 700px;

      iframe {
        height: 400px;
      }
    }
  }

  .elgin {
    .dark-blue-box {
      max-width: 100%;
    }
  }
  .onde-porque-usar .collapse-box a {
    width: 50% !important;
    margin: 0 auto;
    margin-bottom: 20px !important;
  }

  .portfolio {
    .light-blue-box {
      height: 612px;
    }
    .project-box {
      padding: 0;
    }
    .projeto {
      max-width: 30%;
    }
  }
}

//horizontal
@media (min-width: 1050px) and (max-width: 1200px) {
  .banner {
    h2 {
      max-width: 42%;
    }
  }

  .btn-home {
    left: 3% !important;
  }
  .menu-link {
    padding: 0 10px !important;
  }

  .depoimentos {
    .title {
      right: 31%;
    }

    .wrapper-content {
      max-width: unset !important;
    }
  }

  .beneficios {
    .beneficio {
      width: 46% !important;
      height: 275px !important;
      margin: 0 !important;
    }
  }
}
