@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

$dblue: #1f2134;
.bg-blue {
  background-color: #1f2134 !important;
  color: white !important;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  position: relative;
}

p {
  font-family: "DM Sans";
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 27px;
  color: #fff;
}

.container {
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-style: normal;
}

img {
  @extend .img-fluid;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.title {
  position: relative;
  margin-bottom: 15px;
  h2 {
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    color: $dblue;
    z-index: 1;
    position: relative;
  }

  span {
    width: 167px;
    height: 25px;
    background: #ffdb0e;
    display: block;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: 0;
  }

  @media (min-width: map-get($grid-breakpoints , lg)) {
    margin-bottom: 50px;
    h2 {
      font-size: 54px;
      line-height: 59px;
    }
  }
}

.barradenavegacao {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px !important;
    li {
      list-style: none;
      padding: 0 10px;
      a {
        color: $dblue;
      }
    }
  }
}

.btn-cta {
  text-transform: uppercase;
  padding: 15px 30px;
  display: table;
  background: #4da668;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;

  &:hover {
    transform: scale(1.02);
    color: unset;
  }
}

.obrigado {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  div {
    background: $dblue;
    padding: 80px;
    color: $white;

    .aproveite {
      margin-top: 60px;
      display: block;
    }
    .title {
      font-size: 40px;
      text-align: center;
    }
  }

  @media (max-width: map-get($grid-breakpoints,lg)) {
    div {
      margin-top: 150px;
    }
    .title {
      font-size: 20px !important;
    }
  }
}
.btn-zapzap {
  position: fixed;
  bottom: 55px;
  right: 55px;
}
.wpcf7-list-item {
  margin: 15px 0 0;
}

@import "footer";
@import "header";
@import "home";
@import "responsive";
@import "single";
@import "quem-somos";
@import "tablet";
